body {background: url(../images/bodyBg.png); font-size: 12px;}
a,a:hover, a:focus {text-decoration: none; outline: 0px;}
header {background-color: #355570; min-height: 100px; border-radius: 0px 0px 4px 4px; margin-bottom: 10px;}
header .logo {margin-top: 10px;font-size: 50px;color: #FFF;margin-left: 15px; text-decoration: underline;text-transform: uppercase;}
footer {}
footer .kategoriler {background-color: #355570; min-height: 150px; border-radius: 4px 4px 0px 0px; margin-top: 10px; padding: 10px 10px 10px 10px; text-align: left; color: #fff;}
footer .baslik {color: FFF; font-size: 14px; border-bottom-color: #FFF; border-bottom-style: solid; border-bottom-width: 1px;}


main { border-radius: 4px;}

#topSearch {margin-top: 25px; position: relative;}
#topSearch .form-group {width: 100%;}
#topSearch .form-group input {width: 100%; padding-right: 25px;}
#topSearch button {position: absolute;right: 0px;top: 0px;padding: 10px 16px;color: #325D88;background-color: transparent;border-left: 1px solid #ddd;border-radius: 0px;}

#userMenu {margin-top: 25px; margin-right: 15px;}

#homeMenu div:nth-child(1) figure {background: url(../images/telefon.png) no-repeat left top;}
#homeMenu div:nth-child(2) figure {background: url(../images/laptop.png) no-repeat left top;}
#homeMenu div:nth-child(3) figure {background: url(../images/telefon.png) no-repeat left top;}
#homeMenu div:nth-child(4) figure {background: url(../images/laptop.png) no-repeat left top;}
#homeMenu figure {border-radius: 4px; min-height: 120px; padding: 10px; cursor: pointer;}
#homeMenu figure h3 {color: #333;margin: 0px 0px 5px;padding: 0px;font-size: 14px;}
#homeMenu figure ul {list-style: none; margin: 0px 0px 0px 5px; padding: 0px;}
#homeMenu figure ul li {color: #fff;}

#sideMenu {}
#sideMenu .list-group-item {padding: 10px 10px; /*background: url() no-repeat center right transparent;*/}
#sideMenu .list-group-item i {float: right;margin-top: 5px;}
#sideMenu .list-group-item:hover i {color: #EF5C0E;}
#sideMenu .submenu {background-color: #EEE;padding: 5px;border-left: 1px solid #DFD7CA;border-right: 1px solid #DFD7CA;}
#sideMenu .submenu a {display: block;margin-left: 10px;color: #888;}
#sideMenu .submenu a:hover {margin-left: 15px;color: #999;}


/** TITLES **/
.title {color: #FFF;padding: 10px;border-radius: 4px;text-transform: uppercase;font-size: 14px;cursor: default; margin: 0px 0px -3px; position: relative; z-index: 2;}
.title.orange {background-color: #EF5C0E; border: 1px solid #D34D0A;}

/** BOOTSTRAP MANIPULATION **/
.btn.btn-white {color: #325D88;background-color: #ebebeb;border-color: transparent;}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open > .dropdown-toggle.btn-white {color: #325D88;background-color: #bbbbbb;border-color: transparent;}

#cerceve {float: left; height: 250px; width: 200px;	margin: 25px 5px 5px; padding: 10px 10px 10px 10px;}
#cerceve:hover  {border: 1px solid #333; transform: scale(1.1); background-color: #fff; border-radius: 4px;}
#cerceve button {display: none;}
#cerceve:hover button {display: block;}

#cerceve .yazi{color: #333;	padding-bottom: 10px; text-align: center;}

#cerceve .fiyat{color: #333; padding-bottom: 10px; text-align: center; font-size: 15px;	font-weight: bold;}

/** Detay **/ /** Bilgi **/
.urun_bilgi {color: #9C9C9C; line-height: 14px;}
.urun_bilgi ul {list-style-type: square; padding: 0px 10px; margin: 5px 0px;}
/** Detay **/ /** Fiyat **/
.detay span {color: #9C9C9C; font-size: 11px;}
.eskifiyat {font-size: 22px; text-shadow: 0px 0px 0px; text-decoration: line-through; color: #9F9F9F; margin-bottom: 10px;}
.sonfiyat {color: #535456; font-size: 30px; margin-bottom: 8px; font-weight: bold;}
.kazanciniz {color: #535456; font-size: 18px; margin-bottom: 10px;}